.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.75em 2em;
  min-width: 8em;
  text-transform: uppercase;
  letter-spacing: var(--overline-letter-spacing);
  font-size: var(--font-size-body);
  font-family: var(--font-gambarino), serif;
  font-weight: 400;
  border: 1px solid var(--color-foreground);
  position: relative;
  isolation: isolate;
  transition: color var(--duration-medium) var(--ease-out-1);
  background: transparent;
  color: var(--color-foreground);
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  background-color: var(--color-foreground);
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform var(--duration-medium) var(--ease-out-1);
}

@media (hover: hover) {
  .button:hover {
    color: var(--color-background);
  }

  .button:hover::before {
    transform: scaleY(1);
  }
}