.details {
  position: relative;
}

/* .details h2::before {
  content: 'Details';
} */

.detailsImage {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 2/3;
  @media (width <= 768px) {
    order: 2;
  }
}

.detailsImage img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.detailsInfo dl {
  font-size: 1rem;
  display: grid;
  align-items: baseline;
  row-gap: 1.5rem;
  grid-template-columns: 16ch 1fr;
}

.detailsInfo dt {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: var(--overline-letter-spacing);
  color: color-mix(in srgb, var(--color-foreground) 75%, transparent);
  /* opacity: .5; */
}

.detailsInfo dd span:last-of-type {
  display: block;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  color: color-mix(in srgb, var(--color-foreground) 75%, transparent);
}

.detailsInfo dd a {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.detailsNote {
  margin-top: 2rem;
}