:root {
  --color-beige: #F0E8E2;
  --color-green: #3E5E16;
  --font-size-body: 0.875rem;
  --overline-letter-spacing: 0.05ch;
  --page-margin: 1.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-gambarino), serif;
  font-weight: 400;
}

main {
  display: block;
  position: relative;
  height: 300vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Typography */

h1,h2,h3,h4,h5,h5 {
  font-weight: inherit;
}

.font-ballet {
  font-family: var(--font-ballet), cursive;
}

.font-gambarino {
  font-family: var(--font-gambarino), serif;
}

/* Lenis Smooth Scroll */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}