:root {
  /* Colors */
  --color-beige: #F0E8E2;
  --color-burnt-orange: #a9644b;
  --color-green: #394b39;
  --color-foreground: var(--color-green);
  --color-background: var(--color-beige);

  /* Typography */
  --font-size-body: 1rem;
  --font-size-body-sm: 0.875rem;
  --font-size-body-xs: 0.75rem;
  --overline-letter-spacing: 0.05ch;
  --page-margin: 1.5rem;

  /* Layout */
  --page-width-contained: 64rem;
  --section-padding-vertical: clamp(4rem, 12vh, 8rem);

  /* Transitions */
  --duration-fast: 0.15s;
  --duration-medium: 0.35s;
  --duration-slow: 0.5s;

  /* Easing */
  --ease-out-1: cubic-bezier(0.9, 0.5, 0, 1);

  /* Mobile */
  @media (width <=768px) {
    /* Layout */
    --section-padding-vertical: 6rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-family: var(--font-gambarino), serif;
  font-weight: 400;
}

main {
  display: block;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.35;
  text-wrap: balance;
  font-size: var(--font-size-body);
}

p + p {
  margin-top: 1rem;
}

/* Color Schemes */

[data-color-scheme] {
  color: var(--color-foreground);
  background-color: var(--color-background);
}

[data-color-scheme="1"] {
  --color-foreground: var(--color-green);
  --color-background: var(--color-beige);
}

[data-color-scheme="2"] {
  --color-foreground: var(--color-beige);
  --color-background: var(--color-green);
}

[data-color-scheme="3"] {
  --color-foreground: var(--color-beige);
  --color-background: var(--color-burnt-orange);
}

/* Typography */

h1,h2,h3,h4,h5,h5 {
  font-family: var(--font-gambarino), serif;
  font-size: var(--font-size-body);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: var(--overline-letter-spacing);
}

.font-ballet {
  font-family: var(--font-ballet), cursive;
}

.font-gambarino {
  font-family: var(--font-gambarino), serif;
}

.fancy-heading {
  position: relative;
  isolation: isolate;
}

/* .fancy-heading::before {
  font-family: var(--font-ballet), cursive;
  font-size: 6em;
  line-height: 0;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  bottom: 0;
  text-transform: none;
  color: color-mix(in srgb, var(--color-background) 80%, var(--color-foreground));
  opacity: 0.5;
  white-space: nowrap;

  @media (width <= 768px) {
    font-size: 6em;
  }
} */

.fancy-heading {
  font-family: var(--font-ballet), cursive;
  text-transform: none;
  font-size: 4rem;
  line-height: 1;

  @media (width <=768px) {
    font-size: clamp(2rem, 14vw, 5rem);
  }
}

.section-heading {
  margin-bottom: 3rem;
}

/* Layout */

[data-container="contained"] > div {
  max-width: var(--page-width-contained);
  margin-inline: auto;
  padding-inline: var(--page-margin);
  padding-block: var(--section-padding-vertical);
}

[data-layout="split"] {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: clamp(2rem, 5vw, 6rem);

  @media (width <=768px) {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &>* {
      width: 100%;
    }
  }
}

.non-sticky-sections {
  position: relative;
  z-index: 1;
}

/* Links */

.link-underline {
  position: relative;
  transition: color var(--duration-medium) ease;
}

.link-underline::before {
  content: '';
  position: absolute;
  bottom: -.1em;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(1);
  transform-origin: right;
  transition: transform var(--duration-medium) var(--ease-out-1);
}

.link-underline::after {
  content: '';
  position: absolute;
  bottom: -.1em;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform var(--duration-medium) var(--ease-out-1);
  transition-delay: 0.1s;
}

@media (hover: hover) {
  .link-underline:hover {
    color: color-mix(in srgb, var(--color-foreground) 75%, transparent);
  }

  .link-underline:hover::before {
    transform: scaleX(0);
    transform-origin: right;
  }

  .link-underline:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

/* Visually Hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

/* Dotted Divider */

.dotted-divider {
  height: 1px;
  background: linear-gradient(90deg, color-mix(in srgb, var(--color-foreground) 25%, transparent), color-mix(in srgb, var(--color-foreground) 25%, transparent) 50%, transparent 50%, transparent 100%) 0 0 / 4px 1px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Lenis Smooth Scroll */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}