.hero {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  color: var(--color-beige);
  isolation: isolate;
  z-index: -1;
}

.heroBackground::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0));
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.heroImage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.heroTitle {
  font-size: clamp(3rem, 9.5vw, 6rem);
  text-transform: uppercase;
  letter-spacing: -.025ch;
  user-select: none;
}

.heroTitle span {
  line-height: 0;
}

.heroContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
  padding-bottom: 12rem;
  gap: 2rem;
  justify-content: space-between;
  max-width: 60rem;
  margin-inline: auto;
  padding-inline: var(--page-margin);
}

.ampersand {
  font-family: var(--font-ballet), cursive;
  font-size: 1.25em;
  font-weight: 400;
  /* opacity: 0.5; */
  margin-inline: -.1em;
  display: inline;
}

.heroContent p {
  width: 14ch;
  font-size: var(--font-size-body);
  letter-spacing: var(--overline-letter-spacing);
  text-transform: uppercase;
  line-height: 2rem;
}

.heroContent p:first-of-type {
  order: -1;
  text-align: right;
}