.hero {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  isolation: isolate;
  z-index: 0;
  color: var(--color-beige);
}

.heroBackground::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0));
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.heroImage {
  position: absolute;
  inset: 0 -10% -15% -12%;
  height: 120%;
  width: 120%;
  object-fit: cover;
  object-position: center;

  @media (width <=768px) {
    left: -15%;
  }
}

.heroTitle {
  font-size: clamp(3rem, 9.5vw, 6rem);
  text-transform: uppercase;
  letter-spacing: -.025ch;
  user-select: none;

  @media (width <= 768px) {
    grid-column: 1/-1;
    font-size: clamp(2rem, 14vw, 5rem);
    /* margin-bottom: .05em; */
  }
}

.heroTitle span {
  line-height: 0;
}

.heroContent {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  padding-bottom: 12rem;
  z-index: 2;
  padding-inline: var(--page-margin);
}

.heroText {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  gap: 2rem;
  justify-content: space-between;

  @media (width <= 768px) {
    width: fit-content;
    margin-inline: auto;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
}

.ampersand {
  font-family: var(--font-ballet), cursive;
  font-size: 1.25em;
  font-weight: 400;
  /* opacity: 0.5; */
  margin-inline: -.1em;
  display: inline;
}

.heroContent p {
  width: 14ch;
  font-size: var(--font-size-body);
  letter-spacing: var(--overline-letter-spacing);
  text-transform: uppercase;
  line-height: 2rem;

  @media (width <= 768px) {
    width: 100%;
  }
}

.heroContent p:first-of-type {
  order: -1;
  text-align: right;

  @media (width <=768px) {
    order: unset;
    text-align: left;
  }
}

@media (width <= 768px) {
  .heroContent p:last-of-type {
    text-align: right;
  }
}