.nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-beige);
  /* mix-blend-mode: difference; */
  z-index: 100;
  transition: color 0.25s ease;
}

.nav.pastHero {
  color: var(--color-green);
}

.navWrapper ul {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navWrapper a {
  text-transform: uppercase;
  letter-spacing: var(--overline-letter-spacing);
  font-size: var(--font-size-body);
  padding: 1rem;
  display: block;
}