.nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  color: var(--color-foreground);
  z-index: 100;
  transition: color var(--duration-medium) ease;
}

.nav.pastHero {
  color: var(--color-green);
  /* mix-blend-mode: difference; */
}

.navWrapper ul {
  display: flex;
  white-space: nowrap;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (width <= 768px) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.navWrapper a {
  text-transform: uppercase;
  letter-spacing: var(--overline-letter-spacing);
  font-size: var(--font-size-body-sm);
  padding: 1rem;
  display: block;

  @media (width <=768px) {
    padding: 0.75rem;
  }
}

.navWrapper a span {
  display: block;
  position: relative;
}

.navWrapper a span::before {
  content: '';
  position: absolute;
  bottom: -.2em;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform var(--duration-medium) var(--ease-out-1);
}

.navWrapper a[aria-current="true"] span::before {
  transform: scaleX(1);
  transform-origin: left;
}

@media (hover: hover) {
  .navWrapper a:not([aria-current]):hover span::before {
    transform: scaleX(1);
    transform-origin: left;
  }
}