.ourStory {
  position: relative;
}

/* .ourStory h2::before {
  content: 'Our Story';
} */

.ourStoryImage {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 2/3;
}

.ourStoryImage img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
