.ourStory {
  color: var(--color-green);
  background-color: var(--color-beige);
  position: relative;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.ourStory h2::before {
  content: 'Our Story';
}

.ourStoryImage {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 3/4;
}

.ourStoryImage img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
