.ourStory {
  height: 200vh;
  background-color: var(--color-beige);
  position: relative;
}

.ourStoryInner {
  max-width: var(--page-width-contained);
  margin-inline: auto;
  padding-inline: var(--page-margin);
  padding-top: var(--section-padding-vertical);
  padding-bottom: var(--section-padding-vertical);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: clamp(2rem, 5vw, 6rem);

  @media (width <= 768px) {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}

.ourStory h2::before {
  content: 'Our Story';
}

.ourStoryImage {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 3/4;
}

.ourStoryImage img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
