.registry {
  position: relative;
}

.registryImage {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 2/3;
  @media (width <=768px) {
    order: 2;
  }
}

.registryImage img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.registryContent a {
  display: inline-block;
  margin-top: 4rem;
}